TUSHARE_TOKEN=your_tushare_token

MARIADB_HOST=192.168.1.251
MARIADB_PORT=3307
MARIADB_USER=root
MARIADB_PASSWORD=weijie81
MARIADB_DATABASE=stock

QMT_SESSION_PATH=D:\gjzqqmt\QMTclient
DEFAULT_USER_CODE=user001
